.form {
  text-align: center;
  margin-top: 70px;
}

.form label {
  display: block;
}

.form label input {
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  font-size: 19px;
  background-color: rgb(224, 224, 211);
}

.form label input[type='checkbox'] {
  width: 21px;
  height: 21px;
}

.form label span {
 font-size: 16px;
 color: rgb(218, 233, 4);
 display: block;
 margin-top: 5px;
}

.form button {
  margin-top: 20px;
  padding: 7px 18px;
  font-size: 20px;
  background-color: rgb(204, 191, 9);
  border-radius: 25%;
  cursor: pointer;
  color: #000;
}

.form button:hover {
  background-color: rgb(184, 163, 6);
}

.form h3 {
  color: rgb(223, 238, 13);
  font-size: 32px;
}

@media (max-width: 270px) {
  .form label input {
    width: 90%;
  }
}